@charset "UTF-8";
/* CSS Document */

body{
	background-color: green;
}

#content{
	background-color: yellow;
	width:100%;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}

div{
	padding:5px;
}

.textblock{
	width:600px;
	text-align:justify;
}

img{
	width:inherit;
}
.rightside, .leftside{
	display:table-cell
}

.row{
	display:table-row;
}