@charset "UTF-8";
/* CSS Document */

body{
	background-color: green;
}

#content{
	background-color: yellow;
	width:100%;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	display:table;
	padding-bottom:30px;
}

div{
	padding:5px;
}

.textblock{
	width:560px;
	text-align:justify;
}

img{
	width:410px;
}
.rightside, .leftside{
	width:560px;
}

.leftside{
	float:left;
}

.rightimage{
	margin-left:10px;
}

.rightside{
	float:right;
}

.textblock:onhover{
	font-weight:bold;
}