@charset "UTF-8";
/* CSS Document */
.thumbnail{
	width:150px;
}
.fullsize{
	width:300px;
}

#cart{
	width:100px;
	float:right;
}

table{
	margin-left:20px;
}

th{
	margin-top:40px;
}

button{
	margin-right:10px;
}

#center{
	width:100%;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	background-color:#c6b89f;
}

#header{
	height:100px;
	background-color:#cdc1ab;
}

#secondheader{
	height:20px;
	background-color:#cdc1ab;
}

#checkout{
	float:right;
}

body{
	background-color:#b8a787;
}