@charset "UTF-8";
/* CSS Document */
.thumbnail{
	width:150px;
}
.fullsize{
	width:300px;
}

#cart{
	width:100px;
	float:right;
}

th{
	margin-top:20px;
}

button{
	margin-right:10px;
}

#center{
	width:100%;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#header{
	height:100px;
}